@page
@using Models;
@model MuscleCarRent.Pages.CarsAndServices.EditModel

<h4>Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Car.ID" />
            <div class="form-group">
                <label asp-for="Car.Brand" class="control-label"></label>
                <select asp-for="Car.Brand" class="form-control" asp-items="@Html.GetEnumSelectList<Brand>()"></select>
                <span asp-validation-for="Car.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Model" class="control-label"></label>
                <input asp-for="Car.Model" class="form-control" />
                <span asp-validation-for="Car.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.ShortDescription" class="control-label"></label>
                <input asp-for="Car.ShortDescription" class="form-control" />
                <span asp-validation-for="Car.ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.LongDescription" class="control-label"></label>
                <input asp-for="Car.LongDescription" class="form-control" />
                <span asp-validation-for="Car.LongDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.ProductionYear" class="control-label"></label>
                <input asp-for="Car.ProductionYear" class="form-control" />
                <span asp-validation-for="Car.ProductionYear" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Car.IsPopular" /> @Html.DisplayNameFor(model => model.Car.IsPopular)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Car.IsFavourite" /> @Html.DisplayNameFor(model => model.Car.IsFavourite)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Car.Power" class="control-label"></label>
                <input asp-for="Car.Power" class="form-control" />
                <span asp-validation-for="Car.Power" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Color" class="control-label"></label>
                <input asp-for="Car.Color" class="form-control" />
                <span asp-validation-for="Car.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.BasePrice" class="control-label"></label>
                <input asp-for="Car.BasePrice" class="form-control" />
                <span asp-validation-for="Car.BasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.PricePerHour" class="control-label"></label>
                <input asp-for="Car.PricePerHour" class="form-control" />
                <span asp-validation-for="Car.PricePerHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.NumberOfSeats" class="control-label"></label>
                <input asp-for="Car.NumberOfSeats" class="form-control" />
                <span asp-validation-for="Car.NumberOfSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Engine" class="control-label"></label>
                <input asp-for="Car.Engine" class="form-control" />
                <span asp-validation-for="Car.Engine" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Car.NeedDriver" /> @Html.DisplayNameFor(model => model.Car.NeedDriver)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Car.Surcharge" class="control-label"></label>
                <input asp-for="Car.Surcharge" class="form-control" />
                <span asp-validation-for="Car.Surcharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.DriverID" class="control-label"></label>
                <select asp-for="Car.DriverID" class="form-control" asp-items="ViewBag.DriverID"></select>
                <span asp-validation-for="Car.DriverID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.CarTypeID" class="control-label"></label>
                <select asp-for="Car.CarTypeID" class="form-control" asp-items="ViewBag.CarTypeID"></select>
                <span asp-validation-for="Car.CarTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.BodyType" class="control-label"></label>
                <select asp-for="Car.BodyType" class="form-control" asp-items="@Html.GetEnumSelectList<BodyType>()"></select>
                <span asp-validation-for="Car.BodyType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
