@page
@using MuscleCarRentProject.Core.Extensions
@model MuscleCarRentProject.Pages.ImagesPage

@{
    ViewData["Page"] = "Images";
    Layout = "Shared/_Index";
}

<table class="table">
    <thead>
    <tr>
        @Html.TableSortHeader(x => x.Item.CarId, Model);
        @Html.TableHeader(x => x.Item.Id);
        @Html.TableHeader(x => x.Item.PhotoAsString);
        @Html.TableHeader(model => model.Item.RowVersion)
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            @Html.RowData(x => item.CarId)
            @Html.RowData(x => item.Id)
            @Html.RowImage(item.PhotoAsString)
            @Html.RowData(x => item.RowVersion)
            @Html.RowButtons(Model.PageUrl, $"{item.Id}")
        </tr>
    }
    </tbody>
</table>