@page
@using MuscleCarRentProject.Core.Extensions
@model MuscleCarRentProject.Pages.ImagesPage

@{
    ViewData["Page"] = "Images";
    Layout = "Shared/_Index";
}

<table class="table">
    <thead>
    <tr>
        @Html.TableSortHeader(x => x.Item.CarID, Model);
        @Html.TableHeader(x => x.Item.ID);
        @Html.TableHeader(x => x.Item.PhotoAsString);
        @Html.TableHeader(model => model.Item.RowVersion)
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            @Html.RowData(x => item.CarID)
            @Html.RowData(x => item.ID)
            @Html.RowImage(item.PhotoAsString)
            @Html.RowData(x => item.RowVersion)
            @Html.RowButtons(Model.PageUrl, $"{item.ID}")
        </tr>
    }
    </tbody>
</table>