@page
@using MuscleCarRentProject.Core.Extensions
@model MuscleCarRentProject.Pages.PromotionsPage

@{
    Layout = "Shared/_Index";
}

<table class="table">
    <thead>
        <tr>
            @Html.TableSortHeader(x => x.Item.Id, Model);
            @Html.TableSortHeader(x => x.Item.CarModel, Model);
            @Html.TableSortHeader(x => x.Item.AccountFullName, Model);
            @Html.TableSortHeader(x => x.Item.PromotionTypeEnum, Model);
            @Html.TableSortHeader(x => x.Item.Discount, Model);

        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            @Html.RowData(x => item.Id)
            @Html.RowData(x => item.CarModel)
            @Html.RowData(x => item.AccountFullName)
            @Html.RowData(x => item.PromotionTypeEnum)
            @Html.RowData(x => item.Discount)
            @Html.RowButtons(Model.PageUrl, $"{item.Id}")
        </tr>
    }
    </tbody>
</table>