@page
@model MuscleCarRent.Pages.BankCards.DeleteModel

@{
    ViewData["Title"] = "DeleteAsync";
}

<h1>DeleteAsync</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BankCard</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankCard.CardNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankCard.CardNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankCard.CardHolderFullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankCard.CardHolderFullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankCard.ExpirationTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankCard.ExpirationTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankCard.CVV)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankCard.CVV)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankCard.Account)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankCard.Account.Email)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="BankCard.ID" />
        <input type="submit" value="DeleteAsync" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
