@page
@model MuscleCarRent.Pages.BankCards.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BankCard</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankCard.CardNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankCard.CardNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankCard.CardHolderFullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankCard.CardHolderFullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankCard.ExpirationTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankCard.ExpirationTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankCard.CVV)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankCard.CVV)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankCard.Account)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankCard.Account.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BankCard.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
