@page
@using MuscleCarRentProject.Core.Extensions
@model MuscleCarRentProject.Pages.BankCardsPage

@{
    ViewData["Page"] = "Bank cards";
    Layout = "Shared/_Index";
}

<table class="table">
    <thead>
    <tr>
        @Html.TableSortHeader(x => x.Item.CardHolderFullName, Model);
        @Html.TableSortHeader(x => x.Item.CardNumber, Model);
        @Html.TableHeader(x => x.Item.ExpirationTime);
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            @Html.RowData(x => item.CardHolderFullName)
            @Html.RowData(x => x.Item.CardNumber)
            @Html.RowData(x => item.ExpirationTime)
        </tr>
    }
    </tbody>
</table>