@page
@using MuscleCarRentProject.Core.Extensions
@model MuscleCarRentProject.Pages.OrderedDatesPage

@{
    ViewData["Page"] = "Ordered Dates";
    Layout = "Shared/_Index";
}

<table class="table">
    <thead>
        <tr>
            @Html.TableSortHeader(x => x.Item.CarModel, Model);
            @Html.TableSortHeader(x => x.Item.OrderDate, Model);
            @Html.TableHeader(x => x.Item.Id);
            @Html.TableHeader(x => x.Item.RowVersion);
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            @Html.RowData(x => item.CarModel)
            @Html.RowData(x => item.OrderDate)
            @Html.RowData(x => item.Id)
            @Html.RowData(x => item.RowVersion)
            @Html.RowButtons(Model.PageUrl, $"{item.Id}")
        </tr>
    }
    </tbody>
</table>