@page
@using MuscleCarRentProject.Core.Extensions
@model MuscleCarRentProject.Pages.DriversPage

@{
    ViewData["Page"] = "Drivers";
    Layout = "Shared/_Index";
}

<table class="table">
    <thead>
        <tr>
            @Html.TableHeader(x => x.Item.ID)
            @Html.TableSortHeader(x => x.Item.FirstName, Model)
            @Html.TableSortHeader(x => x.Item.LastName, Model)
            @Html.TableHeader(x => x.Item.PhotoAsString)
            @Html.TableHeader(x => x.Item.RowVersion)
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            @Html.RowData(x => item.ID)
            @Html.RowData(x => item.FirstName)
            @Html.RowData(x => item.LastName)
            @Html.RowImage(item.PhotoAsString)
            @Html.RowData(x => item.RowVersion)
            @Html.RowButtons(Model.PageUrl, $"{item.ID}")
        </tr>
    }
    </tbody>
</table>