@page
@model MuscleCarRent.Pages.Accounts.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.RegistrationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.RegistrationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.PersonalPhoto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.PersonalPhoto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.DrivingLicense)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.DrivingLicense)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.IsDrivingLicenseValid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.IsDrivingLicenseValid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.BirthDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Account.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
