@page
@using MuscleCarRentProject.Core.Extensions
@model MuscleCarRentProject.Pages.OrdersPage

@{
    ViewData["Page"] = "Orders";
    Layout = "Shared/_Index";
}

<table class="table">
    <thead>
        <tr>
            @Html.TableSortHeader(x => x.Item.Id, Model);
            @Html.TableSortHeader(x => x.Item.CarModel, Model);
            @Html.TableSortHeader(x => x.Item.AccountName, Model);
            @Html.TableSortHeader(x => x.Item.OrderDate, Model);
            @Html.TableSortHeader(x => x.Item.TotalPrice, Model);
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            @Html.RowData(x => item.Id)
            @Html.RowData(x => item.CarModel)
            @Html.RowData(x => item.AccountName)
            @Html.RowData(x => item.OrderDate)
            @Html.RowData(x => item.TotalPrice)
            @Html.RowButtons(Model.PageUrl, $"{item.Id}")
        </tr>
    }
    </tbody>
</table>